################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZMaze/bin/Debug
/ZMaze/obj/Debug
